bandbuds says: <strong>register here!</strong><br />

<form id="user_form" method="post" action="{% url 'register' %}"
        enctype="multipart/form-data">

    {% csrf_token %}

    {% for hidden in user_form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in user_form.visible_fields %}
    <div class="form">
        {{ field.name }}
        {{ field.errors }}
        {{ field.help_text }}
        {{ field }}
    </div>
    {% endfor %}

    <!-- Provide a button to click to submit the form. -->
    <input type="submit" name="submit" value="Register" />
</form>