<!-- user music preference
	load to user_profile.html -->

{% if bands %}
{% for band in bands %}
	{% if band.name %}
	<!--artist image-->
	<div><img class="gig-image" src="{{band.image_Ref}}" alt="artists-image"></div>
	<!--artist name-->
	<div class=""><h4>{{band.name}}</h4></div>
	<!--like button-->
	<button id="likes" data-id="{{band}}" class="btn btn-primary" type="button">Like</button>
	<!--dislike button-->
	<button id="dislikes" data-id="{{band}}" class="btn btn-primary" type="button">Dislike</button>
	{% endif %}
{% endfor %}
{% else %}
<h2> nae bands ken!!</h2>
{% endif %}
