<!-- user music preference
	load to user_profile.html -->

{% if bands %}
{% for band in bands %}
	{% if band.name %}
	<div class = "{{ band.slug }}" >
	<!--artist image-->
	<div><img class="gig-image" src="{{ band.image_Ref }}" alt="artists-image"></div>
	<!--artist name-->
	<div class=""><h4>{{band.name}}</h4></div>
	<!--like button-->
	<button class="btn btn-primary {{ band.slug }}" id="like" data-bandslug={{ band.slug }} data-bandid="{{ band.name }}" data-user="{{ user_profile.user.username}}"  type="button">Like</button>
	<!--dislike button-->
	<button class="btn btn-primary {{ band.slug }}" id="dislike" data-bandslug={{ band.slug }} data-bandid="{{ band.name }}" data-user="{{ user_profile.user.username}}"  type="button">Dislike</button>
	</div>

	{% endif %}
{% endfor %}
{% else %}
<h2> nae bands ken!!</h2>
{% endif %}
