{% extends 'bba/user.html' %}

{% load staticfiles %}

{% block top_left %}

{% if user_profile.user.is_authenticated %}
    <div class="user-profile">
    <form id="id_profile_form" method="post" action="/edit-profile/" enctype="multipart/form-data">

        {% csrf_token %}

        {% for hidden in profile_form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

            <div class=" ">
                <!--Gender slider -->
                <div class="col-sx-6 col-sm-6 col-lg-6">
                    <div>
                        {{ profile_form.gender.label_tag }}
                    </div>
                    <div>
                       {{ profile_form.gender }}
                       <small>{{ profile_form.gender.errors }}{{ profile_form.gender.help_text }}</small>
                    </div>
                </div>

                
                <!--Dob slider -->
                <div class="col-sx-6 col-sm-6 col-lg-6">
                    <div>{{ profile_form.dob.label_tag }}
                    </div>
                    <div>
                        {{ profile_form.dob }}
                        <small>{{ profile_form.dob.errors }}{{ profile_form.dob.help_text }}</small>
                    </div>
                </div>

                <!--Image slider -->
                <div class="col-sx-12 col-sm-12 col-lg-12">
                    <div>{{ profile_form.image.label_tag }}
                    </div>
                    <div>
                        {{ profile_form.image }}
                        <small>{{ profile_form.image.errors }}{{ profile_form.image.help_text }}</small>
                    </div>
                </div>

                
                <!--Smokes slider -->
                <div class="col-sx-6 col-sm-6 col-lg-6">
                    <div class="col-sm-12">
                        {{ profile_form.smokes.label_tag }}<span id="smkSliderVal"></span>
                    </div>
                    <div class="prof-slider">
                        <input type="range" name="{{ profile_form.smokes.name }}" id="{{ profile_form.smokes.id_for_label }}" data-slider-id="ex1Slider" data-slider-min="0" data-slider-max="4" data-slider-step="1" data-slider-value="2" data-slider-tooltip="hide">
                        <small>{{ profile_form.smokes.errors }}{{ profile_form.smokes.help_text }}</small>
                    </div>
                </div>

                <!--Dances slider -->
                <div class="col-sx-6 col-sm-6 col-lg-6">
                    <div class="col-sm-12">
                        {{ profile_form.dances.label_tag }}<span id="ex1SliderVal"></span>
                    </div>
                    <div class="prof-slider">
                        <input type="range" name="{{ profile_form.dances.name }}" id="{{ profile_form.dances.id_for_label }}" data-slider-id="ex1Slider" data-slider-min="0" data-slider-max="4" data-slider-step="1" data-slider-value="2" data-slider-tooltip="hide">
                        <small>{{ profile_form.dances.errors }}{{ profile_form.dances.help_text }}</small>
                    </div>
                </div>

                <!--Involvment slider -->
                <div class="col-sx-6 col-sm-6 col-lg-6">
                    <div class="col-sm-12">
                        {{ profile_form.involvement.label_tag }}<span id="invSliderVal"></span>
                    </div>
                    <div class="prof-slider">
                        <input type="range" name="{{ profile_form.involvement.name }}" id="{{ profile_form.involvement.id_for_label }}" data-slider-id="ex1Slider" data-slider-min="0" data-slider-max="4" data-slider-step="1" data-slider-value="2" data-slider-tooltip="hide">
                        <small>{{ profile_form.involvement.errors }}{{ profile_form.involvement.help_text }}</small>
                    </div>
                </div>

                <!--Drinks slider -->
                <div class="col-sx-6 col-sm-6  col-lg-6">
                    <div class="col-sm-12">
                        {{ profile_form.drinks.label_tag }}<span id="dnkSliderVal"></span>
                    </div>
                    <div class="prof-slider">
                        <input type="range" name="{{ profile_form.drinks.name }}" id="{{ profile_form.drinks.id_for_label }}" data-slider-id="ex1Slider" data-slider-min="0" data-slider-max="4" data-slider-step="1" data-slider-value="2" data-slider-tooltip="hide">
                        <small>{{ profile_form.drinks.errors }}{{ profile_form.drinks.help_text }}</small>
                    </div>
                </div>

            <div class="row">
                <div class="col-sm-12 text-center">
                <!-- Provide a button to click to submit the form. -->
                <input class='btn submit' type="submit" name="submit" value="Save Profile" />
                </div>
            </div>

            </div>
    </form>
        
    </div>


{% else %}
    <!--Login start -->
    <div>
      {% include 'bba/login.html' %}
    </div>
{% endif %}
{% endblock %}