{% extends 'bba/user.html' %}

{% load staticfiles %}

{% block top_left %}

{% if user_profile.user.is_authenticated %}

<h1> Welcome {{ user_profile.user.username }}! fill in your profile</h1>

<form id="profile_form" method="post" action="/profile/{{ user.slug }}"
        enctype="multipart/form-data">

    {% csrf_token %}

    {% for hidden in profile_form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in profile_form.visible_fields %}
        <div class="form">
            <div class="form form-group">
                <div class="col-sm-2 control-label" for="{{ field.id_for_label }}">{{ field.label_tag }}
                </div>
                <div class="col-sm-10">
                   {{ field }}
                 <small>{{ field.errors }}{{ field.help_text }}</small>
                </div>
            </div>
            <br/>
        </div>

    {% endfor %}

    <!-- Provide a button to click to submit the form. -->
    <input type="submit" name="submit" value="Register" />
</form>
<a href="calendar/{% now 'Y-m/'%}">go here</a>

<div> <h5>type of dancer?</h5>
    <div class="ex1Slider"><small>toe tap'n</small></div><div class="ex1Slider"></label><input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="4" data-slider-step="1" data-slider-value="2"/></div><div class="ex1Slider"><small>get down</small></div><br />
    <span id="ex1CurrentSliderValLabel">Dance Value: <span id="ex1SliderVal">3</span></span><br/>
</div>

{% else %}

        <!--Login start -->
            <div>
              {% include 'bba/login.html' %}
                 <!--Register start -->
              <a href="{% url 'register' %}">register here</a>
            </div>
        <!--Login end -->
{% endif %}

{% endblock %}