/* CSS Content */
/* nav
 * title
 * link
 * menu button calendar
 * bottom search and filter bar
 * list of gigs
 */

body {
  padding-top: 30px;
}
html, body {
    height: 100%;
}

/* nav */
.navbar {
	background: #D30439;
	border-bottom: 0;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.navbar-collapse {
	background: #D30439;
	border-top: 0;
}


/* title */
.navbar-inverse .navbar-brand {
    color: #FFF;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #DDD;
}
#logo {
	height: 100%;
}
.navbar-brand {
	padding: 5px;
}




/* link */
.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #DDD;
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #A00010;
}
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}





/* menu button */
.navbar-inverse .navbar-toggle {
	border: 0;
	color: #FFF;
}
.navbar-inverse .navbar-toggle:hover {
	background-color: #A00010;
}
.navbar-inverse .navbar-toggle:focus {
	background-color: #D30439;
}



/* calendar */


#calendar-grid {
	max-width: 400px;
	margin: auto;
	margin-bottom: 0px;
	margin-top: 0px;
}
.header-box, #calendar-grid {
	width: 100%;
}
#main-content {
	background-color: #ffe6e6;
}
.header-box {
	height: 75px;
	margin: 0px;
	background-color: white;
}
#left-top-header-box {
	margin-top: 20px;
}
.left-top-header-box-interior, .right-bottom-header-box-interior {
	text-align: center;
	width: 100%;
	height: 75px;
	max-height: 100px;
	overflow: auto;
	background-color: #FFF;
	overflow:hidden;
}
.left-top-header-box-interior, .top-fixed {
	position: fixed;
    top: 50px;
    margin: auto;
    margin-top: 0px;
}
.top-fixed {
	top: 125px;
}
.left-top-header-box-interior {
	z-index: 1;
}
#month, #current-day {
	text-align: center;
	width: 34%;
}
.header-component-third-width {
	width: 33%;
	overflow: visible;
}
.left-top-header-box-interior > div, .left-top-header-box-interior > a, .right-bottom-header-box-interior > div {
	float:left;
	height: 100%;
	line-height: 75px;
	font-size: 20px;
}
.left-top-header-box-interior > div > img, .left-top-header-box-interior > a > img, .right-bottom-header-box-interior > div > img {
	width: 25px;
}
.header-button-container {
	width: 33%;
	float: right;
}
#next, #prev {
	color: #D30439;
}
#calendar-grid {
	background-color: #ffe6e6;
	padding-bottom: 15px;
	/*padding-top:  15px;*/
}
.calendar-row {
	text-align:center;
	display: block;
	height: 20%;
	width: 99%;
	margin-left: 1%;
	padding-right: 0px;
}
.calendar-cell, .calendar-cell-day {
	margin: 0px;
	padding: 0px;
	float:left;
	width: 14%;
	height: 100%;
}
.calendar-circle, .calendar-circle-day {
	background-color: #fff6f6;
	width: 65%;
	height: 65%;
	border-radius: 50%;
	position: relative;
	display: table;
    text-align: center;
    margin: auto;
  	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.calendar-cell:hover, .calendar-cell-day:hover {
	text-decoration: none;
}
.calendar-circle-day {
	background-color: #ffe6e6;
	color: #000;
	font-size: 16px;
    text-align: center;
}
.calendar-circle-day > .calendar-text-day, 
.calendar-circle > .calendar-text {
	display: table-cell;
    vertical-align: middle;
}
.calendar-circle > .calendar-text {
    color: #fff6f6;
    font-size: 12px;
}
.gig:hover {
	cursor: pointer;
}
.gig > .calendar-circle {
	background-color: #D30439;
}
.gig > .calendar-circle > .calendar-text {
	color: #FFF;
}
.today > .calendar-circle {
	background-color: #000;
}



/* bottom search and filter bar */
#bottom {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 40px;
	background-color: #000;
	z-index: 5;
}
#search-button, #filter-button {
	width: 50%;
	height: 100%;
	float: left;
	border: 0px;
	color: #FFF;
}
#search-button {
	background-color: #000;
}
#search-button:focus,
#filter-button:focus {
	outline: 0;
}
#filter-button {
	background-color: #D30439;
}
#search-panel, #filter-panel {
	text-align: center;
	background-color: #000;
	position: fixed;
	bottom: 40px;
	width: 100%;
	height: 65px;
	display: none;
	z-index: 5;
}
#filter-panel {
	background-color: #D30439;
	height: 150px;
}
.form-group {
	margin: auto;
	width: 74%;
	height: 50%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}


/* list of gigs */
.right-bottom-header-box-interior {
	margin-top: 0px;
	z-index: 2;
}
#list-box {
	background-color: #efefef;
	width:100%;
	min-height: 700px;
	padding-bottom: 65px;
	overflow: auto;
	position: relative;
}
.gig-box, .gig-time-box {
	height: 75px;
	margin-top:25px;
}
.gig-box {
	width: 100%;
}
.bud-box {
	margin-top: 25px;
}
.gig-profile-box {
	height: 50%;
	margin-top: 25px;
	width: 100%;
	clear: both;
}
.gig-time-box {
	border-style: solid;
	border-color: #aaa;
	border-width: 0px 3px 0px 0px;
	width: 25%;
	height: 100%;
	position: relative;
	display: table;
	text-align:center;

}
.gig-time {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.gig-info-box {
	width: 75%;
	height: 75px;
	float: right;
}
.bud-info-box {
	width: 75%;
	height: 150px;
	float: right;
}
.bud-buttons-box {
	float: left;
	margin-top: 10px;
}
.bud-buttons-box > button {
	width: 75%;
	height: 30px;
	margin: auto;
}
.act-name-box, .venue-name-box {
	width: 100%;
	height: 50%;
	position: relative;
	padding-left: 20px;
}
.bud-info {
	width: 100%;
	height: 25%;
	position: relative;
	padding-left: 20px;
}
.bud-text {
	text-align: left;
	top: 50%;
	position: relative;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.act-name, .venue-name {
	text-align: left;
	top: 50%;
	position: relative;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.act-name {
	font-size: 20px;
}
.scrolling-day-box {
	line-height: 75px;
	text-align: center;
	font-size: 20px;
	z-index: 4;
	position: relative;
}
.gig-image {
	height: 75px;
	width:75px; 
	border-radius:50%;
	background-color: #efefef;
	border: 2px;
	border-style: solid;
	border-color: #D30439;
}



/* gig profile */
.gig-profile {
	height: 100%;
	overflow: auto;
}
.not-going-button {
	background-color: green;
	color: white;
}
.two-thirds-width {
	min-width: 67%;
	max-width: 67%;
	float: left;
	text-align: center;
}
.gig-profile-image {
	width: 33%;
	float: left;
	border-radius: 50%;
}
#bud-image {
	float:right;
}
.one-third-width-bud {
	width: 67%;
	float: left;
	text-align: center;
	font-size: 20px;
	line-height: 75px;
}
.one-third-width {
	width: 67%;
	float: right;
	text-align: center;
	font-size: 20px;
	line-height: 75px;
}
.gig-name-header, .gig-buds-header {
	text-align: center;
	margin: auto;
}
.header-button {
	width: 100%;
	height: 75px;
	border-width: 0px;
}
.half-height {
	height: 50%;
}
.half-text {
	height: 100%;
	line-height: 37px;
}
.black {
	background-color: #efefef;
	color: black;
}
.red {
	background-color: #D30439;
	color: white;
}
.gig-venue-info {
	line-height: 75px;
	font-size: 20px;
	width: 100%;
	height: 75px;
}
.gig-profile-container {
	margin: auto;
}
#gig-header-image {
	width: 67%;
	margin-top: -15%; 
	float: left;
}
.gig-item {
	width: 100%;
	font-size: 20px;
	text-align: center;
	height: 75px;
	line-height: 75px;
	overflow: hidden;
}
#bud-nav {
	height: 100%;
	right: 0px;
	width: 100%;
	background-color: #ffe6e6;
	overflow: hidden;
}
.bud-nav-normal {
	position: absolute;
	top: 0px;
	background-color: #ffe6e6;
}
.bud-nav-fixed {
	position: fixed;
	top: 200px;
}
#bud-profile-box {
	margin-top: 75px;
	height: 100%;
	background-color: #ffe6e6;
}


/* screen wider */
@media screen and (min-width: 800px) {



#left-top-box {
	width: 50%;
	position: fixed;
	left: 0px;
	top: 30px;
	background-color: #ffe6e6;
	height: 100%;
}
#calendar-grid {
	position: relative;
	top: 37%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.right-bottom-header-box-interior {
	position: fixed;
	top:50px;
	right:0px;
	width: 50%;
	margin: auto;
}
.left-top-header-box-interior {
	width: 50%;
}
#right-bottom-box {
	margin-top: 20px;
	float: right;
	max-width: none;
	width:50%;
}
img {
	z-index: 3;
}
#right-bottom-box {
	margin-right: 0px;
}

#bud-nav {
	position: fixed;
	top: 125px;
	height: 100%;
	right: 0px;
	width: 50%;
	z-index: 3;
	background-color: #ffe6e6;
}

.bud-nav-fixed {

}

}