/*Profile form*/
.prof{
    display: block;
    width: 100%;
    margin: auto;
}
.prof-from{
    float: left;
}
.prof-slider{
    min-height: 10px;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 5px;
}

.prof-in{
    float:left;
}

#id_gender, #id_dob{
    display: block;
    width: 100%;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 2px;
    font-size: 1em;
    line-height: 1.5;
    color: #22030A;
    background-color: #ffe6e6;
    background-image: none;
    border:1px solid #eecdd4;
    border-radius: 2px;
}
#id_image{
    display: block;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 1em;
    line-height: 1.5;
    color: #22030A;
    background-color: #eecdd4;
    background-image: none;
    border-radius: 2px;
}

#smkSliderVal,#ex1SliderVal,#invSliderVal,#dnkSliderVal{
    font-size: 1em;
    color: #A00010;
    width: 10px;
    line-height: 1.5;
    padding-left:2px;
}

/* Profile sliders and forms */
#ex1Slider .slider-selection {
	background: #A00010;
}

#ex1Slider .slider-track {
	background: #22030A;
}

#ex1Slider .slider-handle {
	background: #D30439;
	opacity: 1;
}
.ex1Slider{
	display: inline-block;
	margin: 10px 10px 10px 10px;
}

.sub-btn{
	margin-top: 20px;
}