<!-- signup_panel 
	load to index.html if user not signed up-->
	<!-- form signup start -->
	<form id="user_form" method="post" action="/bba/log_reg/" enctype="multipart/form-data">
		 {% csrf_token %}
		 <!-- user name -->
		 <div class="">
    	<label for="{{ user_form.id_for_label }}">User Name:</label>
    	{{ user_form.as_p }}
		</div>
         <!-- password -->
         <div class="">
    	<label for="{{ profile_form.id_for_label }}">User Name:</label>
    	{{ profile_form.as_p }}
		</div>

        <!-- After submit should take the user to user_profile -->
		<input type="submit" name="submit" value="Register" />
    </form>
	<!-- form end -->