<div class='container-fluid bud-box'>
  <div class='row'>
    <div class='col-md-6'>
      <img class='img-responsive img-circle center-block gig-profile-image' src="/media/{{bud_to_show.image}}" alt="{{ bud_to_show.slug }}">
    </div>
    <div class='col-md-6'>
      <div class='row'>
        <div class='col-md-12'>
          <div class='row'>
            <div class='col-md-12'>
              <h4 class='text-center'>
                {{ bud_to_show.gender }}
              </h4>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-12'>
              <h4 class='text-center'>
                {{ smokes }}
              </h4>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-12'>
              <h4 class='text-center'>
                {{ dances }}
              </h4>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-12'>
              <h4 class='text-center'>
                {{ drinks }}
              </h4>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-12'>
              <h4 class='text-center'>
                {{ involvement }}
              </h4>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-12'>
              <h4 class='text-center'>
                {% if profile %}
                  <a href='/edit-profile/'>
                    <button class='btn center-block'>
                      Edit Profile
                    </button>
                  </a>
                {% else %}
                  <button class='btn nudge center-block {% if nudged %}{{ "nudged" }}{% endif %}' data-userid='{{user.username}}' data-budid='{{ bud_to_show.slug }}' data-gigid='{{ gig.gig_id }}'>
                    {% include 'bba/buds/bud_nudge_button.html' %}
                  </button>
                {% endif %}
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      {% include 'bba/user/likedbands.html' %}
    </div>
  </div>
</div>
<!--
<div class='container-fluid bud-box'>
  <div class='row'>
    <div class='col-md-3'>
      <img class='img-responsive img-circle' src="/media/{{bud_to_show.image}}" alt="{{ bud_to_show.slug }}">
    </div>
    <div class='col-md-9'>
      <div class='row'>
        <div class='col-md-8'>
          <h6>
            {{ bud_to_show.gender }}
          </h6>
        </div>
        <div class='col-md-4'>
          <button class='btn nudge' data-userid='{{user.username}}' data-budid='{{ bud_to_show.slug }}' data-gigid='{{ gig.gig_id }}'>
            Nudge
          </button>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-8'>
          <h6>
            Smoker: {{ bud_to_show.smokes }}, Drinker: {{ bud_to_show.drinks }}
          </h6>
        </div>
        <div class='col-md-4'>
        </div>
      </div>
    </div>
  </div>
</div>
-->