<div id='gig-attrs'>
	<h4>
		gig attributes
	</h4>
	<hr class='gig-attrs-line'/>
	<div class='gig-attr'>
		<h5 class='gig-attr-header'>
			you'll find me
		</h5>
		<img class='gig-attr-img' src='/static/bba/images/involvement/{{ involvement_img }}.png'>
	</div>
	<div class='gig-attr'>
		<h5 class='gig-attr-header'>
			dancing
		</h5>
		<img class='gig-attr-img' src='/static/bba/images/dancing/{{ dances_img }}.png'>
	</div>
	<div class='gig-attr'>
		<h5 class='gig-attr-header'>
			smoking
		</h5>
		<img class='gig-attr-img' src='/static/bba/images/smokes/{{ smokes_img }}.png'>
	</div>
	<div class='gig-attr'>
		<h5 class='gig-attr-header'>
			drinking
		</h5>
		<img class='gig-attr-img' src='/static/bba/images/drinks/{{ drinks_img }}.png'>
	</div>
	<hr class='gig-attrs-line'/>
</div>