{% load staticfiles %}
<!--bud profile-->
<div id="bud-profile-box" hidden>
</div>
<!--Gig start -->
{% if buds %}
{% for bud in buds %}
<div class="gig-box bud-box" data-user="{{ bud.slug }}">
  <div class="gig-info-box">
    <div class="act-name-box">
      <div class="act-name">{{ bud.user.username }}</div>
    </div>
    <div class="venue-name-box">
      <div class="venue-name">
        {{ bud.gender }}
      </div>
    </div>
  </div>
  <div class="gig-time-box">
    <img class="gig-image" src="/media/{{bud.image}}" alt="{{bud.slug}}">
  </div>
</div>


{% endfor %}

{% else %}
<div> NO BUDS </div>
{% endif %}
<!--Gig end -->