<div class='container-fluid bud-box'>
  <div class='row'>
    <div class='col-md-6'>
      <img class='img-responsive img-circle center-block gig-profile-image' src="{{ gig.band.image_Ref }}" alt="{{bud.slug}}">
    </div>
    <div class='col-md-6'>
      <div class='row'>
        <div class='col-md-12'>
          <div class='row'>
            <div class='col-md-12'>
              <h3 class='text-center'>
                {{ gig.venue }}
              </h3>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-12'>
              <h3 class='text-center'>
                {{ gig.date }}
              </h3>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-12'>
              <h3 class='text-center'>
                {% if gig.time %} {{ gig.time }} {% else %} {{ 'Unknown time' }} {% endif %}
              </h3>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-12'>
              <h3 class='text-center'>
                <button id='im-going' class='btn {{ notGoingButton }} center-block' data-gigid='{{ gig.gig_id }}'>
                  I'm Going
                </button>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>