      <!--Gig start -->
      <div id="gig-list">
        <div class = "date-selector">
          <div class="day-selector d-s-bottom">
            <div id="prev">
              <img src="{% static 'bba/images/leftBlack.png' %}">
            </div>
            <div id="current-day">
            </div>
            <div id="next">
              <img src="{% static 'bba/images/rightBlack.png' %}">
            </div>
          </div>
        </div>
          <div id="filler">
            {% if gigs %}
            {% for gig in gigs %}
            <div class="gig-box">
              <div class="gig-info-box">
                <div class="act-name-box">
                  <div class="act-name">
                    {{ gig.band.name }}
                  </div>
                </div>
                <div class="venue-name-box">
                  <div class="venue-name">
                    {{ gig.venue.name }}
                  </div>
                </div>
              </div>
              <div class="gig-time-box">
                <div class="gig-time">
                  {{ gig.time }}
                </div>
              </div>
            </div>
            {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
      <!--Gig end -->