<!--Login or Register-->

{% extends 'bba/base.html' %}

{% load staticfiles %}

{% block body_block %}

<div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 login">
    {% if registering %}
    <!--Register -->
    {% include 'bba/user/register.html' %}
    {% else %}
        {% if user.is_authenticated %}
        <!--Already Logged in-->
        <strong>{{ user.username }}<a href="../calendar/"> checkout the calendar</a></strong>
        <a href="../profile/">or fill in your profile</a><br />
        {% else %}
        <!--Login-->
        {% include 'bba/login.html' %}
        {% endif %}
    {% endif %}
</div>

{% endblock %}