{% extends 'bba/base.html' %}

{% load staticfiles %}

{% block body_block %}

  
  <!--Sign Up end -->

  <div id="calendar">

    <div id="left-top-box">
      <div class="date-selector d-s-top">
        {% block top_left_header %}{% endblock %}
      </div>
      <!--Clendar start -->
        {% block top_left %}{% endblock %}
    </div>

    <!--Clendar end -->
    <div id="right-bottom-box">
      <div class="date-selector">
        <div class="day-selector d-s-bottom">
          {% block bottom_right_header %}{% endblock %}
        </div>
      </div>
      <!--Gig start -->
      <div id="list-box">
        {% block bottom_right %}{% endblock %}
      </div>
      <!--Gig end -->
    </div>

  </div>
  <!--Search panel start -->
  {% include 'bba/main/main_search_panel.html' %}
  <!--Search panel end -->

  <!--Filter panel start -->
  {% include 'bba/main/main_filter_panel.html' %}
  <!--Filter panel end -->


  <!--Footer start -->
  {% include 'bba/main/main_bottom_panel.html' %}
  <!--Footer end -->

{% endblock %}
