{% extends 'bba/base.html' %}

{% load staticfiles %}

{% block body_block %}

{% if errors %}
<div>{{errors}}</div>
{% endif %}

{% if user.is_authenticated %}
<!-- Main content -->
<div id="main-content" class="container-fluid">
  <!--Row to remove padding -->
  <div class="row">

    <!--Left bock -->
    <div id="left-top-box">
      <div id="left-top-header-box" class="header-box">
        <div class="left-top-header-box-interior">
          <!--Left header -->
          {% block top_left_header %}{% endblock %}
        </div>
      </div>
        <!--Left main body -->
        {% block top_left %}{% endblock %}
    </div>
    <!--Left end -->

    <!--Right bock -->
    <div id="right-bottom-box">
      <div class="header-box">
        <div class="right-bottom-header-box-interior">
          <!--Right header -->
          {% block bottom_right_header %}{% endblock %}
        </div>
      </div>
      <div id="list-box">
        <!--Right List -->
        {% block bottom_right %}{% endblock %}
      </div>
      <!--Right end -->
    </div>
  <!-- Row end -->
  </div>
<!-- Main content end -->
</div>

{% else %}
    <div class="col-md-8 col-md-offset-2 login">
        <h2>Join in </h2>
        <!-- Register start -->
        <a href="{% url 'register' %}">register here</a>
    </div>
{% endif %}

<!--Bottom bar -->
<div id="bottom">
    <div class='footer-left'>
      © bandbuds 2016
    </div>
    <div class='footer-right'>
        powered by Songkick
    </div>
</div>


{% endblock %}

