{% extends 'bba/user.html' %}

{% load staticfiles %}

{% block top_left %}

{% if user.is_authenticated %}

 <!--Search panel  -->
    <div id="search-panel">
        <div class="search-gig">
          <div class="col-xs-8 col-md-8">
              <input id="search-field form-control input-lg" type="text" class="form-control"/>
          </div>
          <div class="col-xs-4 col-md-4">
                <button class="btn btn-success btn-block" type="submit"> <span class="glyphicon glyphicon-search"></span>search</button>
          </div>
      </div>
    </div>